/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* common */

.container {
  width: 60%;
  margin: 0 auto;
}

.img {
  width: 100%;
  display: block;
}

/* header */

header {
  background-color: #ff6900;
  height: 80px;
  padding: 20px 0px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.categorie {
  width: 40%;
}

/* categorie */
.categorie ul {
  list-style-type: none;
  display: flex;
}

.categorie ul li {
  padding-right: 5px;
}

.categorie ul li a {
  text-decoration: none;
  color: inherit;
}

.logo {
  width: 30%;
  text-align: center;
}
.logo img {
  height: 40px;
}

.login {
  width: 40%;
  text-align: right;
}
/* MAIN */

main {
  width: 100%;
  margin-top: 80px;
  padding: 40px 0;
}

/* contenitore colonne */
.columns {
  display: flex;
  flex-wrap: wrap;
}

.col {
  width: calc(100% / 3);
  padding: 0 5px;
}

/* product card */

/* elementi con position */
.card {
  position: relative;
  padding-bottom: 30px;
}
.etichetta {
  position: absolute;
  left: 0;
  bottom: 105px;
}
.sconto {
  background-color: red;
  color: white;
  width: 45px;
  text-align: center;
}
.sostenibilita {
  background-color: green;
  color: white;
  width: 120px;
  text-align: center;
}
.heart {
  position: absolute;
  top: 10px;
  right: 0;
  background-color: white;
  width: 40px;
  font-size: 30px;
  text-align: center;
}

.card img {
  width: 100%;
}
.product-brand {
  font-size: 10px;
}
.product-description {
  font-weight: 700;
  text-transform: uppercase;
}
.price {
  font-size: 9px;
  color: red;
}
.slashed-price {
  font-size: 9px;
  text-decoration: line-through;
}
.secondary-img {
  display: none;
}
.image-container:hover .secondary-img {
  display: block;
}
.image-container:hover .primary-img {
  display: none;
}

.heart:hover {
  color: red;
}

/* FOOTER */

footer {
  background-color: #1a1a1a;
  color: white;
  padding: 15px 0;
}

.footer-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.site-info {
  width: 80%;
}

.social {
  width: 20%;
  text-align: right;
}

h5 + ul {
  list-style-type: none;
  display: flex;
}

h5 + ul li {
  padding-right: 5px;
}

h5 + ul li a {
  text-decoration: none;
  color: inherit;
  font-size: 8px;
}

.trovaci {
  font-size: 12px;
  font-weight: 700;
  padding-bottom: 5px;
  padding-right: 10px;
}
